<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
</head>
<body>
    <!--
    <h1>登录</h1>
    <form action="{{ url_for('auth.login') }}" method="POST" id = "login-form">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">登录</button>
    </form>
    <a href="{{ url_for('auth.register') }}">注册</a>-->
    <a href="/" class="arrow-button">返回</a>
    <div class="container">
        <div class="auth-container">
            <div class="auth-header">
                <h2 id="form-title">登录/Login</h2>
            </div>
            <div id="loginBox">
                <!-- 登录表单 -->
                <form class="auth-form" action="{{ url_for('auth.login') }}" method="POST" id = "login-form" autocomplete="off">
                    <div class="mb-3">
                        <label for="login-account" class="form-label">账号</label>
                        <input type="text" class="form-control" id="username" name="username" readonly onfocus="this.removeAttribute('readonly')" required>
                    </div>
                    <div class="mb-3">
                        <label for="login-password" class="form-label">密码</label>
                        <input type="password" class="form-control" id="password" name="password" readonly onfocus="this.removeAttribute('readonly')" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">登录</button>
                    <div class="toggle-btn" onclick="toggleForms()">
                        注册账号
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    var registerUrl ="{{ url_for('auth.register') }}";
</script>

<script src="{{ url_for('static', filename='js/bootstrap_bundle_min.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</html>