body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.header{
    height:200px;
    width:1450px;
    text-align: center;
    background-color: aqua;
}

.k{
    font-size: 50px;
}
.l{
    font-size: 25px;
}

.middle{
    background-color: brown;
}

.product-list{
    background-color: rgb(60, 60, 147);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}
